<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Vue Template</title>
  <link href="style.css" rel="stylesheet" type="text/css" />

  <script src="vue.global.js"></script>

  <script type="text/x-template" id="grid-template">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns" 
              @click="sortBy(key)" 
              :class="{ active: sortkey == key }">
            {{ capitalize(key) }}
            <span class="arrow" :class="sortColumns[key] > 0 ? 'asc' : 'dsc'"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredTitles" :key="entry.title">
          <td v-for="key in columns" :key="key">
            {{ entry[key] }}
          </td>
        </tr>
      </tbody>
    </table>
  </script>
</head>

<body>
  <h1>Database Website</h1>

  <div id="database-website">
    <form id="search">
      <p>Search</p>
      <input title="searchField" v-model="searchInput" />
    </form>

    <database-website-component
      :entries="dataset"
      :columns="dataColumns"
      :filterkey="searchInput">
    </database-website-component>
  </div>

  <script src="script.js"></script>
</body>

</html>
